

body {
	font-size: 16px;
	font-family: oxygen;
}
/* Header*/
#header-nav {
	background-color: #87CEEB;
	border-radius: 0px;
	border: 0px; 
}

.navbar-brand {
	text-align: left;
	height: auto;
}

div.collapse {
	background-color: #BF94E4;
	padding: 0px;
	margin: 0px;

}
ul {
	margin: 0px;
	list-style-type: none;
	text-align: center;
    padding: 0px;

}
.navbar-collapse.in {
    overflow: unset;
}
h1 {
	margin-left: 15px;
}
.container>.navbar-header {
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-toggle {
	margin-right: 0px;
}
.navbar-nav { 
margin: 0px; 
}

/** Main Content **/

div.col-xs-12 {
   background-color: #C0C0FF;
   height: auto;
   padding: 0px;
   margin-bottom: 15px;
}
h2 { 
 text-align: center;
}
h1.text-center {
	margin-bottom: 60px;
	margin-left: 0px;
} 
p { 
  text-align: center;
}

@media (max-width: 767px) { .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	 margin-right: 4%;
	 margin-left: 4%;
  }
 .col-xs-6 {width: 40%;}
 .col-xs-12 {width: 90%;}

}
